{% include template_name+'/header.html' %} 
<!--content start-->
	<div class="container">
		<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10" style="padding:0px;">
			<div class="select-box hidden-md hidden-lg">
				<select class="form-control" id="sel1">
			        <option>Select Tag</option>
			        <option>Natural</option>
			        <option>Technology</option>
			        <option>Agriculture</option>
      			</select>
			</div>
			<ul style="padding:0px;">
				<li style="list-style:none;">
					<a href="#">
						<div class="row margin-top box-info">
							<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
								<img src="/static/{{template_name}}/images//sela.jpg" class="img-responsive my-img">
							</div>
							<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
								<div class="title"><h4>Welcome to blog change..</h4></div>
								<div>
								<p>Gearing up for the Appalachian Trail When considering a hike that's going to take months on-end, one would</p>
								</div>
								<div class="post-date"><small>12/2/2018</small></div>
							</div>
						</div>
					</a>
				</li>
				<li style="list-style:none;">
					<a href="#">
						<div class="row margin-top box-info">
							<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
								<img src="/static/{{template_name}}/images//cat.jpg" class="img-responsive my-img">
							</div>
							<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
								<div class="title"><h4>Welcome to blog change..</h4></div>
								<div>
								<p>Gearing up for the Appalachian Trail When considering a hike that's going to take months on-end, one would</p>
								</div>
								<div class="post-date"><small>12/2/2018</small></div>
							</div>
						</div>
					</a>
				</li>
				<li style="list-style:none;">
					<a href="#">
						<div class="row margin-top box-info">
							<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
								<img src="/static/{{template_name}}/images//phos.jpg" class="img-responsive my-img">
							</div>
							<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
								<div class="title"><h4>Welcome to blog change..</h4></div>
								<div>
								<p>Gearing up for the Appalachian Trail When considering a hike that's going to take months on-end, one would</p>
								</div>
								<div class="post-date"><small>12/2/2018</small></div>
							</div>
						</div>
					</a>
				</li>
				<li style="list-style:none;">
					<a href="#">
						<div class="row margin-top box-info">
							<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
								<img src="/static/{{template_name}}/images//cat3.jpg" class="img-responsive my-img">
							</div>
							<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
								<div class="title"><h4>Welcome to blog change..</h4></div>
								<div>
								<p>Gearing up for the Appalachian Trail When considering a hike that's going to take months on-end, one would</p>
								</div>
								<div class="post-date"><small>12/2/2018</small></div>
							</div>
						</div>
					</a>
				</li>
				<li style="list-style:none;">
					<a href="#">
						<div class="row margin-top box-info">
							<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
								<img src="/static/{{template_name}}/images//rith.jpg" class="img-responsive my-img">
							</div>
							<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
								<div class="title"><h4>Welcome to blog change..</h4></div>
								<div>
								<p>Gearing up for the Appalachian Trail When considering a hike that's going to take months on-end, one would</p>
								</div>
								<div class="post-date"><small>12/2/2018</small></div>
							</div>
						</div>
					</a>
				</li>
				<li style="list-style:none;">
					<a href="#">
						<div class="row margin-top box-info">
							<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
								<img src="/static/{{template_name}}/images//blog1.jpg" class="img-responsive my-img">
							</div>
							<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
								<div class="title"><h4>Welcome to blog change..</h4></div>
								<div>
								<p>Gearing up for the Appalachian Trail When considering a hike that's going to take months on-end, one would</p>
								</div>
								<div class="post-date"><small>12/2/2018</small></div>
							</div>
						</div>
					</a>
				</li>
				
			</ul>
		</div>
		<div class="hidden-xs hidden-sm col-md-2 col-lg-2 list-tag">
			<ul class="ul-sidebar post">
			   <li class="list-item" ><a href="#home">steemit</a></li>
			   <li class="list-item" ><a href="#home">marijuana</a></li>
			   <li class="list-item" ><a href="#home">steemit</a></li>
			   <li class="list-item"><a href="#home">marijuana</a></li>
			   <li class="list-item"><a href="#home">steemit</a></li>
			   
			</ul>
		</div>
	</div>
	<!--end content start-->
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery('.post').addClass("hidden").viewportChecker({
	    classToAdd: 'visible animated fadeInDown', // Class to add to the elements when they are visible
	    offset: 100    
	   });   
});            
</script>

</body>
</html>