{% include template_name+'/header.html' %} 
<section>
	<div class="container post">
		<!--light box show image-->
		<!--end light box show image -->
		<div class="row">
			<center>
				<button type="button" class="btn btn-primary btn-kind" data-toggle="modal" data-target="#myMenu">
					<i class="fa fa-hand-o-right" aria-hidden="true"></i>
					Select a template that you want.
				</button>
			</center>
		</div>
		<!--Pop up menu here-->
		<div class="row">
			{%for post in posts%}
			<a href="/templates/order/{{post.slug}}/">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 margin-top">
				    <div class="hovereffect">
				        <img class="img-responsive" src="{{post.feature_image}}" alt="Image not Found">
			            <div class="overlay">
			                <h3><!-- <a  href="/{{post.slug}}" data-toggle="modal" data-target="#myModal"> -->{{post.title}}
			                <!-- </a> -->
			                </h3>
			                {% if post.file !='' %}
				                <p>
				                	<!-- <a href="/download/" class="btn btn-success">Download</a> -->
				                </p>
				            {%endif%}
			            </div>
				   	</div>
				</div>
			</a>
			{%endfor%}
		</div>
		<div>
			<center>
				<ul class="pagination pagination-sm">
		        {% if pagin > 1 %}
		            {% if pagin < 8 %}
		                	{% for page in range(1,pagin+1) %}
		                    	{% if page == current_pagin %}
		                    		<li class="active">
		                    			<a href="/{{category_slug}}/{{page}}">
		                    				{{page}}
		                    			</a>
		                    		</li>
		                    	{%else%}
		                    		<li>
		                    			<a href="/{{category_slug}}/{{page}}">
		                    				{{page}}
		                    			</a>
		                    		</li>
		                    	{%endif%}
							{%endfor%}
						</ul>
					{%else %}
						<li class="{%if current_pagin==1 %}active{%endif%}">
							<a href="/{{category_slug}}">1</a>
						</li>
						<li class="{%if current_pagin==2 %}active{%endif%}">
							<a href="/{{category_slug}}/2">2</a>
						</li>
						<li class="{%if current_pagin==3 %}active{%endif%}">
							<a href="/{{category_slug}}/3">3</a>
						</li>
						<li class="{%if current_pagin==4 %}active{%endif%}">
							<a href="/{{category_slug}}/4">4</a>
						</li>
						<li>
							<a href="#">...</a>
						</li>
						{% for page in range(pagin-4,pagin+1) %}
							{% if current_pagin == page%}
						  <li class="active">
						  	<a href="/{{category_slug}}/{{page}}">
						  		{{page}}
						  	</a>
						  	</li>
						 {%else%}
						 	<li>
						  	<a href="/{{category_slug}}/{{page}}">
						  		{{page}}
						  	</a>
						  	</li>
						 {%endif%}
						{%endfor%}
					{%endif%}
				{%endif%}
				</ul>
			</center>
		</div>
	</div>
</section>
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery('.post').addClass("hidden").viewportChecker({
	    classToAdd: 'visible animated fadeInDown', // Class to add to the elements when they are visible
	    offset: 100    
	   });   
});            
</script>

{% include template_name+'/footer.html' %} 