<footer id="footer" style="clear:both;">
  <div class="container">
    <div class="row">    
      <div class="col-xs-6 col-sm-6 col-md-3 column"> 
      </div>
      <div class="col-xs-12 col-md-6 column" id="contact">          
        <center>
          <ul class="nav">
            <li>
            <a href="/">
              <img src="/static/{{template_name}}/images/logo.png" class="footer_logo img-responsive brand" style="border-radius:20px;">
            </a>
            </li>
            <li><a href="#">
                    
            </a></li>
            <li style="font-size:18px;color:white;"><a href="#">
            	Contact: (+855) 70-721-355
            </a></li>
            <li style="font-size:18px;color:white;"><a href="#">
            	Email: amooglikh@gmail.com 
            </a></li>

          </ul> 
        </center>
      </div>
      <div class="col-xs-6 col-md-6 column">           
      </div>
    </div><!--/row-->
  </div>
</footer>
</body>
</html>