{% include template_name+'/header.html' %} 
<section>
	<div class="container post">
	{%for page in page_object%}
		<div  class="col-sm-12">
		<center>
			<h3>
				<b>{{page.title}}
				</b>
			</h3>
		</center>
		</div>
		<div  class="col-sm-12">
			{{page.description|safe}}
		</div>
	</div>
	{%endfor%}
</section>
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery('.post').addClass("hidden").viewportChecker({
	    classToAdd: 'visible animated fadeInDown', // Class to add to the elements when they are visible
	    offset: 100    
	   });   
});            
</script>
{% include template_name+'/footer.html' %} 